[submodule "nvim"]
	path = config/nvim
	url = https://github.com/alextverdyy/nvim-config
  branch = lazy
[submodule "config/tmux"]
	path = config/tmux
	url = https://github.com/alextverdyy/tmux
[submodule "config/fish"]
	path = config/fish
	url = https://github.com/alextverdyy/fish-config

