/* ====== Tokyo Night Palette ====== */
@define-color bg #222436;
@define-color bg-dark #1e2030;
@define-color bg-dark1 #191B29;
@define-color bg-highlight #2f334d;
@define-color blue #82aaff;
@define-color blue0 #3e68d7;
@define-color blue1 #65bcff;
@define-color blue2 #0db9d7;
@define-color blue5 #89ddff;
@define-color blue6 #b4f9f8;
@define-color blue7 #394b70;
@define-color comment #636da6;
@define-color cyan #86e1fc;
@define-color dark3 #545c7e;
@define-color dark5 #737aa2;
@define-color fg #c8d3f5;
@define-color fg-dark #828bb8;
@define-color fg-gutter #3b4261;
@define-color green #c3e88d;
@define-color green1 #4fd6be;
@define-color green2 #41a6b5;
@define-color magenta #c099ff;
@define-color magenta2 #ff007c;
@define-color orange #ff966c;
@define-color purple #fca7ea;
@define-color red #ff757f;
@define-color red1 #c53b53;
@define-color teal #4fd6be;
@define-color terminal-black #444a73;
@define-color yellow #ffc777;

@define-color git-add #b8db87;
@define-color git-change #7ca1f2;
@define-color git-delete #e26a75;

/* ====== Waybar Styling ====== */
#waybar {
  font-family: "Monaspice Nerd Font";
  font-size: 14px;
  font-weight: 600;
  color: @fg;
  background: rgba(30, 32, 48, 0.7);
}

#window {
  padding: 0 10px;
}

#window#waybar {
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 8px;
  color: @dark5;
  border-radius: 10px;
  min-width: 24px;
  margin: 4px 2px;
}

#workspaces button.visible {
  color: @fg;
  background: @bg-highlight;
}

#workspaces button.focused {
  border-top: 3px solid @blue;
  border-bottom: 3px solid @blue;
  color: @blue;
}

#workspaces button.urgent {
  background-color: @orange;
  color: @bg-dark1;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @bg-highlight;
  border: 1px solid @blue;
  transition: none;
}

#workspaces button.focused:hover {
  color: @magenta;
}

#custom-recorder {
  font-size: 12px;
  margin: 2px 7px 0px 7px;
  color: @red;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#sway-language,
#backlight,
#custom-storage,
#custom-cpu_speed,
#custom-powermenu,
#custom-spotify,
#custom-weather,
#custom-mail,
#custom-media {
  margin: 0px 0px 0px 10px;
  padding: 0 5px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @fg;
}

#custom-storage.warning {
  color: @yellow;
}

#custom-storage.critical {
  color: @red;
}


#custom-launcher {
  font-size: 22px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 2px;
}
